body {
  background-color: #141414;
}

.App {
  padding-top: 20px;
}

.ant-form-inline .ant-form-item {
  margin-right: 0;
}

.ant-form-inline .ant-form-item-with-help {
  margin-bottom: 0;
}

.ant-list-bordered .ant-list-item {
  padding-left: 12px;
  padding-right: 12px;
}

.ant-btn-sm {
  padding-left: 0;
  padding-right: 0;
}